@CHARSET "UTF-8";

.buttonNext {
	width: auto;
	border: 10px;
	border-color: black;
	display: inline-block;
}

.buttonDelete {
	width: auto;
	border: 10px;
	border-color: black;
	display: inline-block;
}

.button {
	width: auto;
}