<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Тег select, атрибут required</title>
 </head>
 <body>
  <form action='run'>
   <p>Какое растение в списке вечнозелёное?</p>
   <p><select name="pregunta" required>
    <option></option>
    <option value="1">Ольха</option>
    <option value="2">Берёза</option>
    <option value="3">Бузина</option>
    <option value="4">Тис</option>
   </select></p>
   <p><input type="submit" value="Отправить"></p>
  </form>
 </body>
</html>