@CHARSET "UTF-8";



.div {
	display: inline-block;
	margin: 0px;
	margin-left: 20px;
	margin-top: 20px;
	width: 300px;
	height: 100px;
	background: green;
	display: inline-block;
	
}

.p {
	overflow-x: hidden;
}

.containerDiv {
	width:80%;
	height:600px;
	overflow-x: hidden;
}
.wrapperButton{
	
	display: inline-block;
	
}

@media screen and (max-width: 400px) {
	.div {
		padding: 16px;
		margin-top: 20px;
		margin-left: 0px;
	}
}

@media screen and (max-width: 360px) {
	.div {
		padding: 0px;
		margin-top: 10px;
		margin-left: 0px;
	}
	.conteiner{	padding: 0px;
		margin-top: 0px;
		margin-left: 0px; }
	
}