@media screen and (min-width: 500px) {
	.leftIndecatorMenu {
		display: none;
	}
	.fullMainMenu {
		display: block;
	}
}

@media screen and (max-width: 500px) {
	.fullMainMenu {
		display: none;
	}
	.leftIndecatorMenu {
		display: block;
	}
	.modal {
		width: 500px;
	}
	span.psw {
		display: inline-block;
		float: none;
	}
	button.cancelbtn {
		width: 100%;
	}
	img.avatar {
		width: 50%;
		height: 50%;
		border-radius: 50%;
	}
	.profilebutton {
		width: 100%;
	}
}