@CHARSET "UTF-8";

.tiles {
	width: 1360px;
	height: 100px;
}

.buttonUA {
	display: inline-block;
	border-color: white; /* color borderUA */
	border-style: solid;
	width: 40px;
	height: 40px;
}

.wrapperlg {
	height: 40px;
	width: 84px;
	background:green;
	margin:auto;
	
}
.lgWrapper {
	height: 49px;
	width: 100px;
	background:green;
	padding-top:8px;
	
}

.buttonRU {
	display: inline-block;
	border-color: white; /* color borderRU */
	border-style: solid;
	width: 40px;
	height: 40px;
}

.formUA {
	display: inline-block;
}

.formRU {
	display: inline-block;
}

.pUA {
	
}

.pRU {
	
}

.pRU {
	
}
.logout{width:71px;height: 43px}